<div class="container contact">
  <div class="row contact-title">Personal account</div>

  <form class="">
    <div class="row">
      <div class="col-sm-3">Image</div>
      <div class="col-sm-3">Email</div>
      <div class="col-md-3">
        <input class="form-control" >
      </div>
      <div class="col-md-2 col-sm-4 edit-picture"><img class="" src="assets/images/edit.png"> </div>
    </div>

    <div class="row">
      <div class="col-sm-3">Image</div>
      <div class="col-sm-3">Password</div>
      <div class="col-md-3">
        <input class="form-control" >
      </div>
      <div class="col-md-2 col-sm-4 edit-picture"><img class="" src="assets/images/edit.png"> </div>
    </div>
  </form>
</div>
