<div class="container phone">
  <div class="row">
    <div class="col-md-11 col-sm-10 col-10 contact-title">Phone</div>
    <div class="col-md-1 col-sm-2 col-2 edit-picture-phone">
      <img (click)="toggleAddForm()" *ngIf="!phoneAddFlag" src="assets/images/plus.png" alt="add" class="pointer">
      <img (click)="toggleAddForm()" *ngIf="phoneAddFlag" src="assets/images/delete.png" alt="minus" class="pointer">
    </div>
  </div>
  <app-add-phone-form *ngIf="addPhoneForm" (addPhone)="addPhone($event)"></app-add-phone-form>
  <ng-template [ngIf]="phones">
    <ul *ngFor="let phone of phones | sortPhonesByFavorite">
      <app-phone-element [phone]="phone" (updatePhone)="updatePhone($event)"
                         (deletePhone)="deletePhone($event)"></app-phone-element>
    </ul>
  </ng-template>
  <ng-template [ngIf]="getAllPhoneErrorMessage">
    <div class="alert alert-danger">{{getAllPhoneErrorMessage}}</div>
  </ng-template>
  <ng-template [ngIf]="!phones && !getAllPhoneErrorMessage">
    <p>Loading...</p>
  </ng-template>
</div>
