<div class="container address">
  <div class="row">
    <div class="col-md-11 col-sm-10 col-10 contact-title">Address</div>
    <div class="col-md-1 col-sm-2 col-2 edit-picture-phone">
      <img (click)="addNewAddress()" *ngIf="!addingNewAddress" src="assets/images/plus.png">
    </div>
  </div>
  <app-edit-address *ngIf="addingNewAddress" [addressEditFlag]="addingNewAddress"
                    (addressChanged)="onAddressChange($event)"></app-edit-address>

  <div *ngFor="let address of addresses">
    <div class="row">
      <div class="col-md-11">
        <app-edit-address [address]="address" (addressChanged)="onAddressChange($event)"></app-edit-address>
      </div>
      <div class="col-md-1">
        <img (click)="deleteAddress(address)" class="delete-address" src="assets/images/delete.png">
      </div>
    </div>
  </div>
</div>
