.pointer {
  cursor: pointer;
}

.star {
  visibility: hidden;
  font-size: 30px;
  cursor: pointer;
}

.star:before {
  content: "\2605";
  position: absolute;
  visibility: visible;
  color: gray;
}

.star:checked:before {
  content: "\2605";
  position: absolute;
  color: #F3C211;
}
input.ng-touched.ng-invalid {
  border: solid red 2px;
}

input.ng-touched.ng-valid {
  border: solid green 2px;
}

.validation-message, .errors {
  background-color: rgba(255, 0, 0, 0.29);
  color: blue;
  font-size: 0.9rem;
  border-radius: 15px;
}

.validation-message * {
  margin-left: 5px;
}
