<form [formGroup]="contactForm" (ngSubmit)="save()">
  <div class="validation-message">
    <div class="alert alert-danger" *ngIf=" contactForm.controls['firstName'].invalid &&
            contactForm.controls['firstName'].touched  ">
      first name not specified
    </div>
    <div class="alert alert-danger" *ngIf=" contactForm.controls['lastName'].invalid &&
            contactForm.controls['lastName'].touched  ">
      last name not specified
    </div>
    <div class="alert alert-danger" *ngIf=" contactForm.controls['age'].invalid &&
            contactForm.controls['age'].touched  ">
      age is incorrect
    </div>
  </div>
  <label for="firstName">First name:</label>
  <input id="firstName" formControlName="firstName" placeholder="First name">
  <label for="lastName">Last name:</label>
  <input type="text" id="lastName" formControlName="lastName" placeholder="Last name">

  <label for="age">Age:</label>
  <input type="number" id="age" formControlName="age" placeholder="Age"/>
  <span><label for="favorite">Favorite:</label>
  <input type="checkbox" id="favorite" formControlName="favorite"></span>
  <label for="group">Group</label>
  <select name="group" id="group" formControlName="group">
    <option value="FRIENDS">FRIENDS</option>
    <option value="FAMILY">FAMILY</option>
    <option value="NONE" selected>NONE</option>
  </select>
  <button type="submit">save</button>
  <button type="reset">clear</button>
</form>
<div class="errors" *ngIf="logError">
  Error: {{logError}}
</div>

