<div class="container email">
  <div class="row">
    <div class="col-md-11 col-sm-10 col-10 contact-title">Email</div>
    <div class="col-md-1 col-sm-2 col-2 edit-picture-phone"><img src="assets/images/plus.png" alt="add"></div>
  </div>

  <ng-template [ngIf]="emails">
    <app-email-element
      *ngFor="let email of emails" [email]="email"></app-email-element>
  </ng-template>

  <ng-template [ngIf]="getAllEmailErrorMessage">
    <div class="alert alert-danger">{{getAllEmailErrorMessage}}</div>
  </ng-template>

  <ng-template [ngIf]="!emails && !getAllEmailErrorMessage">
    <p>Loading...</p>
  </ng-template>
</div>
