Add new Phone:
<form [formGroup]="phoneForm" class="row">
  <div class="col-md-1 col-sm-2 col-1">
    <input class="star" type="checkbox" formControlName="favorite">
  </div>
  <div class="row col-md-7 col-sm-6 col-10 form-group">
    <input formControlName="countryCode" class="col-md-4 col-sm-6 col-3 form-control text-right"
           placeholder="country code">
    <input formControlName="telephoneNumber" class="col-md-8 col-sm-6 col-6 form-control"
           placeholder="telephone number">
  </div>
  <div class="col-md-3 col-sm-5 col-1 edit-picture">
    <img (click)="onSubmit()" src="assets/images/save.png" alt="save" class="pointer">
    <img (click)="clear()" class="delete-line pointer" src="assets/images/delete.png"
         alt="delete">
  </div>
  <div class="errors" *ngIf="logError">
    Error: {{logError}}
  </div>
</form>
<div class="validation-message">
  <div class="alert alert-danger" *ngIf=" phoneForm.controls['countryCode'].invalid &&
            phoneForm.controls['countryCode'].touched  ">
    country code not specified
  </div>
  <div class="alert alert-danger" *ngIf=" phoneForm.controls['telephoneNumber'].invalid &&
            phoneForm.controls['telephoneNumber'].touched  ">
    telephone number not specified
  </div>
</div>
