<form class="row" *ngIf="email" id="email-form">
  <div class="col-md-1 col-sm-2 col-1">
    <div class="">
      <div (click)="toggleStar()"
           [ngClass]="email.isFavorite ? 'star-true': 'star-false'"
           class="star"></div>
    </div>
  </div>
  <div class="col-md-7 col-sm-6 col-10 form-group">
    <input [readonly]="!emailEditFlag" class="col-md-6 col-sm-12 form-control" [value]="email.email">
  </div>
  <div class="col-md-3 col-sm-5 col-6 edit-picture">
    <img (click)="emailEditFlag = true" *ngIf="!emailEditFlag" src="assets/images/edit.png" alt="edit">
    <img (click)="onClickSave()" *ngIf="emailEditFlag" src="assets/images/save.png" alt="save">
    <img (click)="onClickDelete()" class="delete-line" src="assets/images/delete.png" alt="delete">
  </div>
</form>
