<div class="container contact">
  <div class="row contact-title">Contact</div>
  <form class="row ">
    <div class="col-md-2 icon">
      <label>Icon</label>
      <div class="col-md-2 col-sm-4 edit-picture-phone">
        <img src="">
      </div>
    </div>
    <div class="col-md-3 col-sm-4 col-6 form-group">
      <label>First Name</label>
      <input [readonly]="!contactEditFlag" class="form-control" [value]="contact?.firstName">
    </div>

    <div class="col-md-3 col-sm-3 col-6 form-group">
      <label>Last Name</label>
      <input [readonly]="!contactEditFlag" class="form-control" [value]="contact?.lastName">

    </div>
    <div class="col-sm-1 col-md-1 edit-picture" *ngIf="!contactEditFlag"><img (click)="toggleEditContact()" class=""
                                                                              [src]="imageEdit"/></div>
    <div class="col-sm-1 col-md-1 edit-picture" *ngIf="contactEditFlag"><img (click)="save()" class=""
                                                                             [src]="imageSave"></div>
  </form>
</div>
